body {
  padding: 50px;
  font: 14px "Roboto", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input label {
  display: block;
}

form button {
  font: inherit;
  margin: 10px 0;
  border-radius: 0;
  border: none;
  box-shadow: 2px 2px 2px #ccc;
  color: white;
  background: #3498db;
  cursor: pointer;
}

form button:hover {
  background: #2980b9;
}

.errors {
  background: #e79892;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
  display: inline-block;
  border: 1px solid #e74c3c;
}

.errors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.success {
  background: #80cca0;
  padding: 5px;
}

/* InteractJS */
#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

/* Buttons for Bootstrap */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}